DATABASE_URL=postgresql://kowalski_user:kowalski_password@localhost:5432/kowalski
# Recommend: `openssl rand -base64 32`
BETTER_AUTH_SECRET=secret
BETTER_AUTH_URL=http://localhost:8080
# Recommend: `openssl rand -base64 32`
JWT_SECRET=secret
# JWT_EXPIRY_DAYS=7
